<div class='row jumbotron'>
  <div class=""
<h2>Bienvenidos al mundo del robot</h2>

<ul class="well col-md-12">
  <li class='btn btn-success'><a href="/tasks">Lista de Robots</a></li>
  <li class='btn btn-success'><a href="/tasks/new">Nuevo Robot</a></li>
</ul>
</div>
</div>
