<form class="well" action="/robots" method="post">
  <h2>Crea un nuevo robot</h2>
  <input type='text' name='robot[name]'/><br/>
  <input type='text' name='robot[city]'/><br/>
  <input type='text' name='robot[state]'/><br/>
  <input type='text' name='robot[avatar]'/><br/>
  <input type='text' name='robot[birthdate]'/><br/>
  <input type='text' name='robot[date_hired]'/><br/>
  <input type='text' name='robot[department]'/><br/>
  <input class="btn btn-default" type='submit'/>
</form>
